img{
  height: 450px;
  border: 5px solid green;
  margin: 50px
}


h1 {
  text-align: center;
  font-family:  'Indie Flower', cursive;
  font-weight: bold;
  font-size: 80px;
}
body {
  background-color: #E35C5C;
}
.highlight {
  color: #2ECC71;
}


.sidebar{
  width: 30%;
  float: left;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 30px;
}
.friends{
  color: #2ECC71;
  width: 30%;
  float: right;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 30px

}
.first{
  border: 5px solid green;
  margin: 40px;
  padding: 40px;
  background-color: #FBEF31;
}

.second{
  border: 5px solid yellow;
  margin: 40px;
  padding: 40px;
  background-color: #40F50B;

}
.third{
  border: 5px solid red;
  margin: 40px;
  padding: 40px;
  background-color: #D683C2;
